.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    &__icon{
        position: relative;
        right: 12rem;
        font-size: 30px;
        color: #000;
    }
    &__logo {
        width: 300px;
    }
}