// HEADER

.header {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    width: 95%;
    height: 9rem;
    margin: auto;
    @include mobile {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 30px;
        margin-bottom: 22px;
        width: 681px;
        height: unset;
    }
    &__flexbox{
        display: flex;
        align-items: center;
    }
    &__icon{
        position: relative;
        right: 2rem;
        font-size: 30px;
        color: #000;
        @include tablet {
            right: 1rem; 
        }
    }
    &__logo {
        width: 300px;
    }
}

$prog-bar-dur: 1000ms;
$prog-bar-delay: 150ms;
$cat-delay: $prog-bar-dur + $prog-bar-delay;

.animation {
    animation: cat 1000ms $cat-delay;
}