.nav{
    &__icon-Map{
        position: relative;
        left: 18rem;
        top: 6rem;
        margin-right: 20px;
        font-size: 32px;
    }
    &__texte{
        width: 65rem;
        height: 88px;
        border: none;
        background: #F2F2F2;
        box-shadow: inset 0px 7px 6px #d5d5d5;
        text-align: center;
        font-size: 30px;
        font-weight: 500;
    }
}