.btn{
    padding: 26px 48px 26px 48px;
    background: linear-gradient(#FF79DA, #9356DC);
    border: 0px solid #9356DC;
    margin-top: 60px;
    color: white;
    font-size: 26px;
    border-radius: 45px;
    box-shadow: 0px 5px 10px 7px #d5d5d5;
    cursor: pointer;
}