// A LA FRANÇAISE
.projet{
    width: 100%;
    height: 218rem;
    background-color: #fafafa;
    @include mobile{
        width: 681px;
    }
    &__marge{
        width: 90%;
        margin: auto; 
    }
    &__titre{
        margin-top: 90px;
        margin-bottom: 11px;
    }
    &__flexbox{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    &__card{
        width: 100%;
        height:199rem;
        margin-top: -44px;
        border-radius: 50px 50px 0 0;
        background: #fafafa;
    }
    &__img{
        width: 100%;
        height: 330px;
        object-fit: cover;
    }
    &__info{
        display: flex;
        align-items: center;
        margin-left: 36px;
        margin-top: 44px;
        margin-bottom: 22px;
        font-size: 20px;
    }
    &__description{
        margin-top: 40px;
        font-size: 25px;
        margin-bottom: 8px;
    }
    &__largeur{
        width: 22%;
    }
    &__icon{
        font-size: 40px;
        color: #686868;
        position: relative;
        left: 37%;
        bottom: 40px;
        cursor: pointer;
        &:active > .projet__icon-2{
            color: $couleur-secondaire;
            transform: scale(1.4);
        }
    }
    &__icon-2 {
        font-size: 40px;
        color: #686868;
        position: relative;
        left: 50px;
        transform: scale(0);
        transition: transform 400ms;
    }
    &__btn{
        display: flex;
        justify-content: center;
        padding-top: 50px;
    }
}



.bloc{
    &__flexbox{
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        margin-bottom: -46px;
        animation: slideDown 5s;
        @include mobile{
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    }
    &__marge{
        margin-bottom: -93px;
    }
    &__btn{
        display: flex;
        flex-direction: column;
        justify-content: center;
        font-size: 26px;
        width: 600px;
        height: 120px;
        padding-left: 20px;
        background-color: #fafafa;
        border: 0px solid black;
        border-radius: 30px 30px 30px 30px;
        box-shadow: 0px 5px 20px 4px #d5d5d5;
        cursor: pointer;

        //  Animation bouton
        &:hover {
            & + .bloc__progress {
                transform: scaleX(1);
                & > .bloc__progress--rotate {
                    transform: rotate(0turn);
                }
            }
        }
    }
    &__progress{
        position: relative;
        left: 470px;
        bottom: 12rem;
        background-color: $couleur-tertiaire;
        border: 0px solid black;
        border-radius: 0 30px 30px 0;
        width: 130px;
        height: 121px;
        display: flex;
        align-content: space-around;
        justify-content: center;
        align-items: center;
        transform: scaleX(0);
        transform-origin: right 100%;
        transition: transform 500ms cubic-bezier(.32,0,0.7,1);
        &--rotate {
            font-size: 40px;
            color: white;
            transform: rotate(-1turn);
            transition: transform 500ms ease-in-out;
        }
    }
    &__hauteurTitre{
        padding-bottom: 12px;
    }
    &__description{
        display: flex;
        align-items: center;
    }
    &__espaceSousTitre{
        font-size: 25px;
    }
    &__espacePrix{
        padding-left: 29rem;
        font-size: 25px;
        position: relative;
        right: 0;
        transition: right .25s, transform 1s;
        &:hover{
            right: 20%;
	        transform: translateX(0%);
        }
    }
    &__espacePrix2{
        padding-left: 19rem;
        font-size: 25px;
        position: relative;
        right: 0;
        transition: right .25s, transform 1s;
        &:hover{
            right: 20%;
	        transform: translateX(0%);
        }
    }
    &__espacePrix3{
        padding-left: 41rem;
        font-size: 25px;
        position: relative;
        right: 0;
        transition: right .25s, transform 1s;
        &:hover{
            right: 20%;
	        transform: translateX(0%);
        }
    }
}

.bloc2{
    &__largeur{
        width: 90%;
    }   
    &__flexbox{
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        margin-bottom: -46px;
        animation: slideDown 5s;
        @include mobile{
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    }
    &__marge{
        margin-bottom: -93px;
    }
    &__btn{
        display: flex;
        flex-direction: column;
        justify-content: center;
        font-size: 26px;
        width: 600px;
        height: 120px;
        padding-left: 20px;
        background-color: #fafafa;
        border: 0px solid black;
        border-radius: 30px 30px 30px 30px;
        box-shadow: 0px 5px 20px 4px #d5d5d5;
        cursor: pointer; 
        
        //  Animation bouton
        &:hover {
            & + .bloc2__progress {
                transform: scaleX(1);
                & > .bloc2__progress--rotate {
                    transform: rotate(0turn);
                }
            }
        }
    }
    &__progress{
        position: relative;
        left: 470px;
        bottom: 12rem;
        background-color: $couleur-tertiaire;
        border: 0px solid black;
        border-radius: 0 30px 30px 0;
        width: 130px;
        height: 121px;
        display: flex;
        align-content: space-around;
        justify-content: center;
        align-items: center;
        transform: scaleX(0);
        transform-origin: right 100%;
        transition: transform 500ms cubic-bezier(.32,0,0.7,1);
        &--rotate {
            font-size: 40px;
            color: white;
            transform: rotate(-1turn);
            transition: transform 500ms ease-in-out;
        }
    }
    &__hauteurTitre{
        padding-bottom: 12px;
    }
    &__description{
        display: flex;
        align-items: center;
    }
    &__espaceSousTitre{
        font-size: 25px;
    }
    &__espacePrix{
        padding-left: 9rem;
        font-size: 25px;
        position: relative;
        right: 0;
        transition: right .25s, transform 1s;
        &:hover{
            right: 20%;
	        transform: translateX(0%);
        }
    }
    &__espacePrix2{
        padding-left: 13rem;
        font-size: 25px;
        position: relative;
        right: 0;
        transition: right .25s, transform 1s;
        &:hover{
            right: 20%;
	        transform: translateX(0%);
        }
    }
    &__espacePrix3{
        padding-left: 11rem;
        font-size: 25px;
        position: relative;
        right: 0;
        transition: right .25s, transform 1s;
        &:hover{
            right: 20%;
	        transform: translateX(0%);
        }
    }
}

.bloc3{
    &__largeur{
        width: 52%;
    }   
    &__flexbox{
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        margin-bottom: -46px;
        animation: slideDown 5s;
        @include mobile{
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    }
    &__marge{
        margin-bottom: -93px;
    }
    &__btn{
        display: flex;
        flex-direction: column;
        justify-content: center;
        font-size: 26px;
        width: 600px;
        height: 120px;
        padding-left: 20px;
        background-color: #fafafa;
        border: 0px solid black;
        border-radius: 30px 30px 30px 30px;
        box-shadow: 0px 5px 20px 4px #d5d5d5;
        cursor: pointer;

        //  Animation bouton
        &:hover {
            & + .bloc3__progress {
                transform: scaleX(1);
                & > .bloc3__progress--rotate {
                    transform: rotate(0turn);
                }
            }
        }
    }
    &__progress{
        position: relative;
        left: 470px;
        bottom: 12rem;
        background-color: $couleur-tertiaire;
        border: 0px solid black;
        border-radius: 0 30px 30px 0;
        width: 130px;
        height: 121px;
        display: flex;
        align-content: space-around;
        justify-content: center;
        align-items: center;
        transform: scaleX(0);
        transform-origin: right 100%;
        transition: transform 500ms cubic-bezier(.32,0,0.7,1);
        &--rotate {
            font-size: 40px;
            color: white;
            transform: rotate(-1turn);
            transition: transform 500ms ease-in-out;
        }
    }
    &__hauteurTitre{
        padding-bottom: 12px;
    }
    &__description{
        display: flex;
        align-items: center;
    }
    &__espaceSousTitre{
        font-size: 25px;
    }
    &__espacePrix{
        padding-left: 27rem;
        font-size: 25px;
        position: relative;
        right: 0;
        transition: right .25s, transform 1s;
        &:hover{
            right: 20%;
	        transform: translateX(0%);
        }
    }
    &__espacePrix2{
        padding-left: 41rem;
        font-size: 25px;
        position: relative;
        right: 0;
        transition: right .25s, transform 1s;
        &:hover{
            right: 20%;
	        transform: translateX(0%);
        }
    }
    &__espacePrix3{
        padding-left: 20rem;
        font-size: 25px;
        position: relative;
        right: 0;
        transition: right .25s, transform 1s;
        &:hover{
            right: 20%;
	        transform: translateX(0%);
        }
    }
}

