.palette{
    height: 160rem;
    background-color: #fafafa;
    @include mobile-first{
        width: 100%;
        height: 218rem;
    }
    @include destop1200{
        height: 158rem;
    }
    &__flexbox{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    &__card{
        width: 100%;
        height: 142rem;
        margin-top: -44px;
        border-radius: 50px 50px 0 0;
        background: #fafafa;
        @include mobile-first{
            height:199rem;
        }
        @include destop1200{
            height: 139rem;
        }
    }
    &__img{
        width: 100%;
        height: 330px;
        object-fit: cover;
    }
    &__info{
        display: flex;
        align-items: center;
        margin-left: 36px;
        margin-top: 44px;
        margin-bottom: 22px;
        font-size: 20px;
    }
    &__description{
        margin-top: 40px;
        margin-bottom: 8px;
        font-size: 25px;
        font-weight: 300;
        color: #686868;
    }
    &__largeur{
        width: 22%;
    }
    &__icon{
        font-size: 20px;
        color: #686868;
        position: relative;
        left:1%;
        bottom: 42px;
        cursor: pointer;
        &:hover > .palette__icon-2{
            color: $couleur-secondaire;
            transform: scale(1.4);
        }
        @include mobile-first{
            font-size: 40px;
            left:22%;
            bottom: 40px;
        }
    }
    &__icon-2 {
        font-size: 20px;
        left: 24px;
        bottom: 2px;
        color: #686868;
        position: relative;
        transform: scale(0);
        transition: transform 400ms;
        @include mobile-first{
            font-size: 40px;
            left: 50px;
        }
    }
    /* Bouton commander */
    &__btn{
        display: flex;
        justify-content: center;
        padding-top: 50px;
    }
}

.palette-bloc{
    &__flexbox{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        margin-bottom: -46px;
        animation: slideDown 5s;
        @include mobile-first{
            flex-direction: row;
            display: flex;
        } 
    }
    /* MENUS PALETTE */
    &__marge{
        margin-bottom: 15px;
    }
    &__btn{
        width: 300px;
        height: 75px;
        padding-left: 20px;
        background-color: #fafafa;
        border: 0px solid black;
        border-radius: 15px 15px 15px 15px;
        box-shadow: 0px 5px 20px 4px #d5d5d5; 
        overflow: hidden;
        animation: appear 1s;
        &:hover {
            cursor: pointer;
        }
        &:hover .palette-bloc__check i {
            animation: quarterspin 0.5s ease-in-out;
        }
        &:hover .palette-bloc__check {
            margin-right: 0;
        }
        @include mobile-first{
            width: 600px;
            height: 120px;
            border-radius: 30px 30px 30px 30px;
        }
    }
    &__largeur{
        width: 82%;
    }
    &__largeur2{
        width: 85%;
    }
    &__largeur3{
        width: 97%;
    }
    &__largeur4{
        width: 91%;
    }
    &__largeur5{
        width: 99%;
    }
    &__largeur6{
        width: 85%;
    }
    &__largeur7{
        width: 85%;
    }
    &__btn i {
        display: flex;
        justify-content: center;
        align-items: center;
        background: white;
        height: 15px;
        width: 15px;
        font-size: 10px;
        border-radius: 16px;
        color: #99E2D0;
        @include mobile-first{
            height: 32px;
            width: 32px;
            font-size: 20px;
        }
    }
    &__item{
        display: flex;
        align-items: center;
        overflow: hidden;
        border-radius: 0 16px 16px 0;
        white-space: nowrap;
        text-overflow: ellipsis;
        gap: 10px;
    }
    &__description{
        padding: 16px;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 490px;
        height: 176px;
    }
    &__hauteurTitre{
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        position: relative;
        top: -5px;
        right: 16px;
        font-family: "Roboto", sans-serif;
        font-weight: 600; 
        font-size: 14px;
        @include mobile-first{
            font-size: 32px;
            top: 2px;
        }
    }
    &__espaceSousTitre{
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        color: #686868;
        position: relative;
        bottom: -11px;
        right: 16px;
        font-family: "Roboto", sans-serif;
        font-weight: 300;
        font-size: 12px;
        @include mobile-first{
            font-size: 25px;
            bottom: -19px;
            right: 16px;
        }
    }
    &__Price{
        position: relative;
        right: 65px;
        bottom: 40px;
        padding-left: 3rem;
        font-size: 12px;
        @include mobile-first{
            font-size: 25px;
            bottom: 2px;
        }
    }
    &__check{
        background-color: #99E2D0;
        margin-right: -112px;
        margin-bottom: 10rem;
        width: 53px;
        height: 8rem;
        display: grid;
        place-items: center;
        flex-shrink: 0;
        transition: margin-right 0.5s;
        @include mobile-first{
            background-color: #99E2D0;
            margin-right: -112px;
            margin-bottom: 6rem;
            width: 111px;
            height: 12rem;
            display: grid;
            place-items: center;
            flex-shrink: 0;
            transition: margin-right 0.5s;

        }
    }
}







