.palette{
    width: 100%;
    height: 218rem;
    background-color: #fafafa;
    @include mobile{
        width: 681px;
    }
    &__marge{
        width: 90%;
        margin: auto;
    }
    &__titre{
        margin-top: 90px;
        margin-bottom: 11px;
    }
    &__flexbox{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    &__card{
        width: 100%;
        height:199rem;
        margin-top: -44px;
        border-radius: 50px 50px 0 0;
        background: #fafafa;
    }
    &__img{
        width: 100%;
        height: 330px;
        object-fit: cover;
    }
    &__info{
        display: flex;
        align-items: center;
        margin-left: 36px;
        margin-top: 44px;
        margin-bottom: 22px;
        font-size: 20px;
    }
    &__description{
        margin-top: 40px;
        font-size: 25px;
        margin-bottom: 8px;
    }
    &__largeur{
        width: 22%;
    }
    &__icon{
        font-size: 40px;
        color: #686868;
        position: relative;
        left:22%;
        bottom: 40px;
        transition-duration: 1000ms;
        &:hover{
            cursor: pointer;
            color: $couleur-secondaire;
            transform: scale(1.4);
        }
    }
    &__btn{
        display: flex;
        justify-content: center;
        padding-top: 50px;
    }
}

.palette-bloc{
    &__flexbox{
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        margin-bottom: -46px;
        animation: slideDown 5s;
        @include mobile{
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    }
    &__marge{
        margin-bottom: 26px;
    }
    &__btn{
        display: flex;
        flex-direction: column;
        justify-content: center;
        font-size: 26px;
        width: 600px;
        height: 120px;
        padding-left: 20px;
        background-color: #fafafa;
        border: 0px solid black;
        border-radius: 30px 30px 30px 30px;
        box-shadow: 0px 5px 20px 4px #d5d5d5;
    }
    &__hauteurTitre{
        padding-bottom: 12px;
    }
    &__description{
        display: flex;
        align-items: center;
    }
    &__espaceSousTitre{
        font-size: 25px;
    }
    &__espacePrix{
        padding-left: 27rem;
        font-size: 25px;
    }
    &__espacePrix2{
        padding-left: 18rem;
        font-size: 25px;
    }
    &__espacePrix3{
        padding-left: 10rem;
        font-size: 25px;
    }
}

.palette-bloc2{
    &__largeur{
        width: 90%;
    }   
    &__flexbox{
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        margin-bottom: -46px;
        animation: slideDown 5s;
        @include mobile{
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    }
    &__marge{
        margin-bottom: 26px;
    }
    &__btn{
        display: flex;
        flex-direction: column;
        justify-content: center;
        font-size: 26px;
        width: 600px;
        height: 120px;
        padding-left: 20px;
        background-color: #fafafa;
        border: 0px solid black;
        border-radius: 30px 30px 30px 30px;
        box-shadow: 0px 5px 20px 4px #d5d5d5;
        &:hover{
            cursor: pointer;
            transform: scale(1.1);
        }
    }
    &__hauteurTitre{
        padding-bottom: 12px;
    }
    &__description{
        display: flex;
        align-items: center;
    }
    &__espaceSousTitre{
        font-size: 25px;
    }
    &__espacePrix{
        padding-left: 5rem;
        font-size: 25px;
    }
    &__espacePrix2{
        padding-left: 10rem;
        font-size: 25px;
    }
    &__espacePrix3{
        padding-left: 37rem;
        font-size: 25px;
    }
}

.palette-bloc3{
    &__largeur{
        width: 52%;
    }   
    &__flexbox{
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        margin-bottom: -46px;
        animation: slideDown 5s;
        @include mobile{
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    }
    &__marge{
        margin-bottom: 26px;
    }
    &__btn{
        display: flex;
        flex-direction: column;
        justify-content: center;
        font-size: 26px;
        width: 600px;
        height: 120px;
        padding-left: 20px;
        background-color: #fafafa;
        border: 0px solid black;
        border-radius: 30px 30px 30px 30px;
        box-shadow: 0px 5px 20px 4px #d5d5d5;
        &:hover{
            cursor: pointer;
            transform: scale(1.1);
        }
    }
    &__hauteurTitre{
        padding-bottom: 12px;
    }
    &__description{
        display: flex;
        align-items: center;
    }
    &__espaceSousTitre{
        font-size: 25px;
    }
    &__espacePrix{
        padding-left: 42rem;
        font-size: 25px;
    }
    &__espacePrix2{
        padding-left: 13rem;
        font-size: 25px;
    }
    &__espacePrix3{
        padding-left: 8rem;
        font-size: 25px;
    }
}