@mixin flexbox {
    display: flex;
    align-items: center;
}

@keyframes slideDown {
    from {
        transform: translateY(20px);
        opacity: 0;
    }
    to{
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes loading {
    to{
        transform: rotate(1turn);
    }  
}

@keyframes animation {
    0% {
        transform: translateX(-9999px);
    }
    100% {
        transform: translateX(0);
    }
}


@mixin desktop {
    @media screen and (max-width: 1800px) {
        @content;
    }
}


@mixin tablet {
    @media screen and (max-width: 768px) {
        @content;
    }
}

@mixin mobile {
    @media screen and (max-width: 666px) {
        @content;
    }
}